{% extends "home/layout.html" %}
{% block body %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            changeLangBlog("{{ blog.idName }}", "{{ lang }}");
        });
    </script>
    <div class="body">
        <div class="container body">
            <h1 id="blog_title"></h1>
            <br>{{ blog.date }}
            <hr>
    
            <div class="blog-text"> 
                <div style="line-height: 200%;">
                    <h1 class="blog_titles margin_top">Introduction</h1> 
                    <hr>
                    <div class="blog_intro">

                    </div>
                    <h1 class="blog_titles margin_top">Motivation</h1>
                    <hr>
                    <div class="blog_motivation">

                    </div>
                    </span>
                    <h1 class="blog_titles margin_top">Body</h1>
                    <hr>
                    <div class="blog_body">

                    </div>
    
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}