{% extends "home/layout.html" %}
{% block body %}
    <div class="container">
        <h1>First Post</h1>
        <br>09/12/2021
        <hr>

        <div class="blog-text"> 
            <div style="line-height: 200%">
                <h1>Introduction</h1> 
                <hr>
                Welcome to my first post! I just want to use the space below to talk about some of motivations of writing 
                blogs as well as some types of blogs I will be writing about.
                <span class="paragraph">
                   
                </span>
                <h1>Article</h1>
                <hr>
                While I was setting up my personal website this past week, I had the idea of having a
                section that shares some of personal experiences and understandings on the many issues that we face today.
                I think it is a great way to give people who are viewing this website an idea of what my interests are and more importantly where do I spend time on.
                As an initial thought, I will be writing on four different topics:
                <ol>
                    <li>Economics (mostly macro)</li>
                    <li>Travelling Experiences</li>
                    <li>Book Reports</li>
                    <li>Coding Related Topics (Algorithms, Data Structores, etc)</li>
                </ol>
                <span class="paragraph"> 
                </span>
                Another moviation for writing blogs is to help myself organize some of my thoughts.
                Also, I plan to add support for both Chinese and English which means I get the chance to practice writing in Chinese which I haven't done so for a long time.
                <span class="paragraph"></span>
                Thanks for reading! Enjoy!
                

            </div>
        </div>
    </div>
{% endblock %}