{% extends "home/layout.html" %}
{% load static %}

{% block body %}
    <script>
        addEventListener("DOMContentLoaded", () => {
            changeLangProj("{{ proj }}", "{{ lang }}");
        });
    </script>
    <div class="body">
        <div style="border:2px solid white; width: 30%; margin-right: auto; margin-left: auto;">
            <img class="img__img" id="img" style="background-color: white;">
        </div>
        <br>
        <div style="padding: 5% 5%; line-height: 50px;">

            <h1 class="proj_titles">Outline</h1>
            <hr>
            <div class="project_content">

            </div>
            <br>
            
            <h1 class="proj_titles">Demo</h1>
            <hr>
            <div class="project_content">

            </div>

            <h1 style="margin-top: 100px;" class="proj_titles">Implementation</h1>
            <hr>
            <div id="project_impl">
            </div>
        </div>
    </div>
{% endblock %}