{% extends "home/layout.html" %}
{% load static %}

{% block body %}
    <script>
        addEventListener("DOMContentLoaded", () => {
            changeLangProj("website", "{{ lang }}");
        });
    </script>
    <div class="body">
        <div style="border:2px solid white; width: 50%; margin-right: auto; margin-left: auto;">
            <img class="img__img"/>
        </div>
        <br>
        <div style="padding: 5% 5%; line-height: 50px;">
            <h1 class="proj_titles">Outline</h1>
            <hr>
            <div class="project_content">
                Personal Website built using HTML, CSS, Javascript, python, and Django. If you are reading this now, 
                you have probably already navigated through many of the sections of my personal website.
            </div>
            <br>
            <h1 class="proj_titles">Demo</h1>
            <hr>
            <h1 style="margin-top: 100px;" class="proj_titles">Implementation</h1>
            <hr>
            <div id="project_impl">
                See <a href="https://github.com/Richard5678/personal_website">github</a> for details.
            </div>
            
        </div>
    </div>
{% endblock %}