.blog-container {
    padding: 30px;
}

.blog-section a {
    color: white;
    text-decoration: none;
}

.blog-intro {
    margin-top: 10px;
}

.blog-text {
    padding: 2% 0%;
    font-size: 20px;
}

.blog-text p {
    line-height:30px;
}

.paragraph {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin_top {
    margin-top: 5% !important; 
}