body {
    background-color: #091426;
    color: white;
    font-size: 20px;
}
 /* add padding to nav bar */
#header {
    padding: 2% 3%;
}

/* add padding to body section of the webpage */
.body {
    padding: 3% 5%;
}

/* fill the top section of the page with a background color of white */
nav {
    width: 100%;
    height: auto;
    background-color: white;
    float: left;
}

/* horiziontally align all nav items */
ul > li {
    display: inline;
}

.nav-bars ul li a{
    padding: 8px 12px;
    font-size: 25px;
    color: #091426;
    text-decoration: none; /* remove underline in href */
}

#intro {
    padding:30px;
}

.connect img {
    border-radius:50%;
    height: 60px;
}

.connect {
    padding: 3% 3%;
}


.intro {
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}

.profile {
    text-align: center;
    font-size: 50px;
}

.profile img {
    border-radius:50%;
    width:150px;
}

#wechat {
    max-height:90%;
    max-width:90%;
}
.wechat-container {
    display: flex;
    text-align:center;
}


